<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>idle</key>
		<dict>
			<key>delay</key>
			<integer>1</integer>
			<key>frames</key>
			<array>
				<string>characters/wizard/idle_1.png</string>
				<string>characters/wizard/idle_2.png</string>
				<string>characters/wizard/idle_3.png</string>
				<string>characters/wizard/idle_4.png</string>
			</array>
		</dict>
		<key>run</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>characters/wizard/run_1.png</string>
				<string>characters/wizard/run_2.png</string>
				<string>characters/wizard/run_3.png</string>
				<string>characters/wizard/run_4.png</string>
			</array>
		</dict>
		<key>walk</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>characters/wizard/walk_1.png</string>
				<string>characters/wizard/walk_2.png</string>
				<string>characters/wizard/walk_3.png</string>
				<string>characters/wizard/walk_4.png</string>
			</array>
		</dict>
		<key>attack</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>characters/wizard/attack_1.png</string>
				<string>characters/wizard/attack_2.png</string>
				<string>characters/wizard/attack_3.png</string>
			</array>
		</dict>
		<key>jump</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>characters/wizard/jump_1.png</string>
				<string>characters/wizard/jump_2.png</string>
				<string>characters/wizard/jump_3.png</string>
			</array>
		</dict>
		<key>dead</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>characters/wizard/dead_1.png</string>
				<string>characters/wizard/dead_2.png</string>
				<string>characters/wizard/dead_3.png</string>
				<string>characters/wizard/dead_4.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
