<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
	<key>frames</key>
        <dict>
		<key>characters&#x2F;wizard&#x2F;attack_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{699,0},{618,391}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{618,391}}</string>
            		<key>spriteSourceSize</key>
            		<string>{618,391}</string>
			<key>spriteSize</key>
			<string>{618,391}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;attack_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{0,0},{699,418}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{699,418}}</string>
            		<key>spriteSourceSize</key>
            		<string>{699,418}</string>
			<key>spriteSize</key>
			<string>{699,418}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;dead_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{0,418},{417,397}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{417,397}}</string>
            		<key>spriteSourceSize</key>
            		<string>{417,397}</string>
			<key>spriteSize</key>
			<string>{417,397}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;hurt_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{417,418},{417,397}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{417,397}}</string>
            		<key>spriteSourceSize</key>
            		<string>{417,397}</string>
			<key>spriteSize</key>
			<string>{417,397}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;hurt_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{834,418},{417,397}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{417,397}}</string>
            		<key>spriteSourceSize</key>
            		<string>{417,397}</string>
			<key>spriteSize</key>
			<string>{417,397}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;hurt_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{0,815},{417,361}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{417,361}}</string>
            		<key>spriteSourceSize</key>
            		<string>{417,361}</string>
			<key>spriteSize</key>
			<string>{417,361}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;dead_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{417,815},{417,339}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{417,339}}</string>
            		<key>spriteSourceSize</key>
            		<string>{417,339}</string>
			<key>spriteSize</key>
			<string>{417,339}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;dead_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{834,815},{417,339}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{417,339}}</string>
            		<key>spriteSourceSize</key>
            		<string>{417,339}</string>
			<key>spriteSize</key>
			<string>{417,339}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;jump_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{1317,0},{413,348}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{413,348}}</string>
            		<key>spriteSourceSize</key>
            		<string>{413,348}</string>
			<key>spriteSize</key>
			<string>{413,348}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;jump_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{1317,348},{413,348}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{413,348}}</string>
            		<key>spriteSourceSize</key>
            		<string>{413,348}</string>
			<key>spriteSize</key>
			<string>{413,348}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;attack_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{1317,696},{402,343}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{402,343}}</string>
            		<key>spriteSourceSize</key>
            		<string>{402,343}</string>
			<key>spriteSize</key>
			<string>{402,343}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;run_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{0,1176},{398,375}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{398,375}}</string>
            		<key>spriteSourceSize</key>
            		<string>{398,375}</string>
			<key>spriteSize</key>
			<string>{398,375}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;dead_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{0,1911},{343,222}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{343,222}}</string>
            		<key>spriteSourceSize</key>
            		<string>{343,222}</string>
			<key>spriteSize</key>
			<string>{343,222}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;run_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{796,1176},{398,375}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{398,375}}</string>
            		<key>spriteSourceSize</key>
            		<string>{398,375}</string>
			<key>spriteSize</key>
			<string>{398,375}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;run_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{1194,1176},{398,375}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{398,375}}</string>
            		<key>spriteSourceSize</key>
            		<string>{398,375}</string>
			<key>spriteSize</key>
			<string>{398,375}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;jump_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{1730,0},{312,381}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{312,381}}</string>
            		<key>spriteSourceSize</key>
            		<string>{312,381}</string>
			<key>spriteSize</key>
			<string>{312,381}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{0,1551},{342,360}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{342,360}}</string>
            		<key>spriteSourceSize</key>
            		<string>{342,360}</string>
			<key>spriteSize</key>
			<string>{342,360}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;walk_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{342,1551},{342,360}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{342,360}}</string>
            		<key>spriteSourceSize</key>
            		<string>{342,360}</string>
			<key>spriteSize</key>
			<string>{342,360}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;walk_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{684,1551},{342,354}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{342,354}}</string>
            		<key>spriteSourceSize</key>
            		<string>{342,354}</string>
			<key>spriteSize</key>
			<string>{342,354}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{1026,1551},{342,354}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{342,354}}</string>
            		<key>spriteSourceSize</key>
            		<string>{342,354}</string>
			<key>spriteSize</key>
			<string>{342,354}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;walk_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{1368,1551},{342,354}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{342,354}}</string>
            		<key>spriteSourceSize</key>
            		<string>{342,354}</string>
			<key>spriteSize</key>
			<string>{342,354}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;idle_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{2042,0},{342,354}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{342,354}}</string>
            		<key>spriteSourceSize</key>
            		<string>{342,354}</string>
			<key>spriteSize</key>
			<string>{342,354}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;walk_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{2042,354},{342,354}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{342,354}}</string>
            		<key>spriteSourceSize</key>
            		<string>{342,354}</string>
			<key>spriteSize</key>
			<string>{342,354}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;idle_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{2042,708},{342,354}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{342,354}}</string>
            		<key>spriteSourceSize</key>
            		<string>{342,354}</string>
			<key>spriteSize</key>
			<string>{342,354}</string>
		</dict>
		<key>characters&#x2F;wizard&#x2F;run_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>textureRect</key>
            		<string>{{398,1176},{398,375}}</string>
            		<key>spriteOffset</key>
            		<string>{0,0}</string>
            		<key>textureRotated</key>
            		<false/>
            		<key>sourceColorRect</key>
            		<string>{{0,0},{398,375}}</string>
            		<key>spriteSourceSize</key>
            		<string>{398,375}</string>
			<key>spriteSize</key>
			<string>{398,375}</string>
		</dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>wizard.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>textureFileName</key>
            <string>wizard.png</string>
        </dict>
    </dict>
</plist>
