<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>characters/wizard/attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0379009}</string>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{109,101}</string>
                <key>spriteSourceSize</key>
                <string>{121,103}</string>
                <key>textureRect</key>
                <string>{{0,320},{109,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard/attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.29,0.0332481}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{181,111}</string>
                <key>spriteSourceSize</key>
                <string>{185,117}</string>
                <key>textureRect</key>
                <string>{{200,0},{181,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard/attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.26,0.0311005}</string>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{200,123}</string>
                <key>spriteSourceSize</key>
                <string>{210,125}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard/dead_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{109,113}</string>
                <key>spriteSourceSize</key>
                <string>{125,119}</string>
                <key>textureRect</key>
                <string>{{0,123},{109,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>characters/wizard/dead_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{119,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,102}</string>
                <key>textureRect</key>
                <string>{{381,0},{119,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard/dead_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{107,90}</string>
                <key>spriteSourceSize</key>
                <string>{125,102}</string>
                <key>textureRect</key>
                <string>{{0,421},{107,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard/dead_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{91,55}</string>
                <key>spriteSourceSize</key>
                <string>{103,67}</string>
                <key>textureRect</key>
                <string>{{314,111},{91,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>characters/wizard/hurt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{109,113}</string>
                <key>spriteSourceSize</key>
                <string>{125,119}</string>
                <key>textureRect</key>
                <string>{{198,205},{109,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>characters/wizard/hurt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{119,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,108}</string>
                <key>textureRect</key>
                <string>{{381,86},{119,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard/hurt_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{109,113}</string>
                <key>spriteSourceSize</key>
                <string>{125,119}</string>
                <key>textureRect</key>
                <string>{{198,205},{109,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>characters/wizard/idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0361111}</string>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{93,106}</string>
                <key>spriteSourceSize</key>
                <string>{103,108}</string>
                <key>textureRect</key>
                <string>{{418,266},{93,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard/idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0367232}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{103,106}</string>
                <key>textureRect</key>
                <string>{{0,511},{97,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>characters/wizard/idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0367232}</string>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{91,104}</string>
                <key>spriteSourceSize</key>
                <string>{103,106}</string>
                <key>textureRect</key>
                <string>{{107,433},{91,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard/idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0367232}</string>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{89,104}</string>
                <key>spriteSourceSize</key>
                <string>{103,106}</string>
                <key>textureRect</key>
                <string>{{109,329},{89,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard/jump_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0632184}</string>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{124,104}</string>
                <key>textureRect</key>
                <string>{{200,111},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard/jump_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0577428}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,110}</string>
                <key>spriteSourceSize</key>
                <string>{94,114}</string>
                <key>textureRect</key>
                <string>{{0,232},{88,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>characters/wizard/jump_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0632184}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{124,104}</string>
                <key>textureRect</key>
                <string>{{369,172},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard/run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0733333}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{107,101}</string>
                <key>spriteSourceSize</key>
                <string>{119,113}</string>
                <key>textureRect</key>
                <string>{{311,266},{107,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard/run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0733333}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{107,99}</string>
                <key>spriteSourceSize</key>
                <string>{119,113}</string>
                <key>textureRect</key>
                <string>{{198,314},{107,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard/run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0733333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,103}</string>
                <key>spriteSourceSize</key>
                <string>{119,113}</string>
                <key>textureRect</key>
                <string>{{411,372},{97,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard/run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0733333}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{97,103}</string>
                <key>spriteSourceSize</key>
                <string>{119,113}</string>
                <key>textureRect</key>
                <string>{{304,460},{97,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>characters/wizard/walk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0513889}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{85,104}</string>
                <key>spriteSourceSize</key>
                <string>{103,108}</string>
                <key>textureRect</key>
                <string>{{113,123},{85,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard/walk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0522599}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,106}</string>
                <key>spriteSourceSize</key>
                <string>{103,106}</string>
                <key>textureRect</key>
                <string>{{305,367},{93,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>characters/wizard/walk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0522599}</string>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{85,102}</string>
                <key>spriteSourceSize</key>
                <string>{103,106}</string>
                <key>textureRect</key>
                <string>{{113,227},{85,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard/walk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.0522599}</string>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{93,106}</string>
                <key>spriteSourceSize</key>
                <string>{103,106}</string>
                <key>textureRect</key>
                <string>{{198,413},{93,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wizard.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a55e692306c52c3528b68d570621fa8c:6e1c91745e4a6453545cc0ad720e3322:b2afae05d7c594ed226f4adeda37b877$</string>
            <key>textureFileName</key>
            <string>wizard.png</string>
        </dict>
    </dict>
</plist>
